body {
    flex-wrap: wrap;
}

header {
    text-align: center;
    background-color: rgb(179, 226, 242);
}

.containter-fluid {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* .col-1 {
    display: inline-block;
}

.col-2 {
    display: inline-block;
} */

button {
    width: 100%;
    margin: 3px;
    border-radius: 10%;
}
#search-parent {
    width: 30%;
    display: flex;
	flex-direction: column;
}

#forecast-parent {
    width: auto;
    border-width: 1px;
    border-color: black;
    display: flex;
	flex-direction: column;
}