header {
  text-align: center;
  background-color: rgb(8, 67, 217);
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

h3 {
  background-color: rgb(8, 67, 217);
  text-align: center;
  color: white;
}

#search-parent {
  width: 15%;
}

#forecast-parent {
  width: 85%;
}

#clear-history-btn {
  margin-top: 3px;
}

#city-history button {
  display: block;
  margin: 2px;
}

button {
  background-color: rgb(8, 67, 217);
  color: white;
  border-radius: 5%;
}

#footer {
  margin-top: auto;
  text-align: center;
  background-color: rgb(8, 67, 217);
  color: white;
 
}
a:visited {
  text-decoration: none;
  color: white;
}