header {
  text-align: center;
  background-color: rgb(6, 123, 106);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

h3 {
  background-color: rgb(6, 123, 106);
  text-align: center;
  color: white;
}

#search-parent {
  display: inline-block;
  width: 50%;
}

#forecast-parent {
  display: inline-block;
  width: 50%;
}

#clear-history-btn {
  margin-top: 3px;
}

#city-history button {
  display: block;
  margin: 2px;
}

button {
  background-color: rgb(211, 21, 21); 
  color: white;
  border-radius: 5%;
}

#footer {
  margin-top: auto;
  text-align: center;
  background-color: rgb(6, 123, 106);
  color: white;
 
}
a:visited {
  text-decoration: none;
  color: white;
}